---
title: GitLab Migration+ Package
suppress_header: true
description: "The GitLab Migration+ package enables most companies to migrate their data from previous source code management systems and train their users and adminstrators with GitLab fundamentals."
canonical_path: "/services/migration/migration-plus/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Migration+
    %h3.headline-subtitle
      Accelerate the journey to GitLab. Maximize developer productivity. 

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
        Migration of users and version-controlled source code data to GitLab is just the beginning! To maximize the investment your company is making in GitLab, you should consider investing in education services to maximize developer productivity. Without it, developers could face sub-optimal ramping up to new tools and processes. Migration+ packages our most requested type of migration service and our most popular education services.

        %h1 Who is this service for?
        %p.service-para
        %ul
          %li Customers who are migrating from a single instance of GitHub Enterprise, GitHub.com, Bitbucket Server, Bitbucket Data Center, or from GitLab Self-Managed.
          %li Customers who have up to 500 users.
          %li Customers who have up to 1,000 repositories.

        %h1 What's included?
        %p.service-para
        %ul
          %li Migration of source code data for up to 500 users and 1,000 repositories.
          %li Your choice of 3 instructor led trainings from the following options. 
          %ul
            %li #{link_to 'GitLab & Git Basics training', 'https://about.gitlab.com/services/education/gitlab-basics/'}
            %li #{link_to 'GitLab CI/CD training', 'https://about.gitlab.com/services/education/gitlab-ci/'}
            %li #{link_to 'GitLab for Project Managers', 'https://about.gitlab.com/services/education/pm/'}
            %li #{link_to 'GitLab Security Essentials', 'https://about.gitlab.com/services/education/security-essentials/'}
            %li #{link_to 'GitLab System Administration', 'https://about.gitlab.com/services/education/admin/'} <br/> <b>Note:</b> Due to the length of the class, GitLab System Administration counts toward 2 of the 3 instructor led trainings.

        <i> With the exception of GitLab System Administration training, each training course comes with an opportunity to earn a #{link_to 'GitLab technical certification' , 'https://about.gitlab.com/handbook/customer-success/professional-services-engineering/gitlab-technical-certifications/'} for an additional charge not included in the price of this package </i>

        %p.service-para
        You can view the #{link_to 'Migration+ Statement of Work Template', 'https://docs.google.com/document/d/1PXTz1Lvp1H9mrxyQNL_-bcDBrNWmsGQa47pMYPTXnTI/edit?usp=sharing'} that further defines the activities, assumptions and outcomes of this package.  

        %p.service-para
        <strong>Fill out the Form below to learn more!</strong>
= partial "includes/services-contact-form"
