.row.cmp-customer-highlight-trio
  .col-md-12
    .row
      .col-md-12.customer-highlights
        - data.customer_highlights.each do |customer|
          -if customer.identifier.include?("#{current_page.data.data_identifier}")

            - if customer.icon1
              - localvar_icon1 = customer.icon1
            - else
              - localvar_icon1 = ""

            - if customer.icon2
              - localvar_icon2 = customer.icon2
            - else
              - localvar_icon2 = ""

            - nameCodeSafe = customer.name.parameterize

            .customer-highlight{"data-customer-highlight": nameCodeSafe}
              %img.customer-highlight-photo{loading: "lazy", src: "#{customer.photo}"}
              %img.customer-highlight-logo{loading: "lazy", src: "#{customer.logo}", alt: "Logo of #{customer.name}"}
              .statistic-card
                %h4
                  %strong #{customer.name} 
                  #{customer.impact}
                .quantify-wrapper
                  .icon{style: "background-image: url(#{customer.icon1})"}
                  %p.u-margin-bottom-0
                    %strong #{customer.quantifier1}
                    %span.u-margin-bottom-0 #{customer.qualifier1}
                .quantify-wrapper
                  .icon{style: "background-image: url(#{customer.icon2})"}
                  %p.u-margin-bottom-0
                    %strong #{customer.quantifier2}
                    %span.u-margin-bottom-0 #{customer.qualifier2}
